h1,
h2,
h3,
h4,
h5,
h6 {
    margin: auto 0 35px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    color: white;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
    color: white;
}

#navbar {
    height: 100px;
    background-color: transparent;
}

#myNavbar {

    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 50px;
    font-family: Chewy;
    font-size: 50px;
}

#collapse {
    background-color: gray;
}

.intro {
    display: table;
    width: 100%;
    height: auto;
    padding: 100px 0;
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('img/code.jpg') no-repeat bottom center scroll;
    background-size: cover;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

marquee {
    width: 100%;
    margin: auto;
    height: 100px;
    padding-top: 35px;
    font-family: Handlee;
    font-size: 30px;
    background-color: lightblue;
}

.photos{
    text-align: center;
    padding: 50px;
}

figcaption{
    color: black;
    font-size: 25px;
    font-family: Lobster;
}

@media only screen and (max-width: 1200px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;

    }
    #myNavbar{
        font-size: 50px;
    }
    marquee {
        width: 1200px;
    }
}

@media only screen and (max-width: 992px) {
    #myNavbar {
        text-align: center;
        font-size: 40px;
    }
    marquee {
        width: 992px;
    }
}

@media only screen and (max-width: 768px) {
    #myNavbar {
        text-align: center;
        font-size: 36px;
        
    }
    marquee {
        width: 768px;
    }
}
