body {
    background: #fff;
}

#navbar {
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
}

#myNavbar {
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 50px;
    font-family: Chewy;
    font-size: 18px;
}

#collapse {
    background-color: gray;
}

marquee {
    margin: auto;
    height: 100px;
    padding-top: 30px;
    font-family: Handlee;
    font-size: 25px;
    background-color: lightblue
}

@keyframes fade1 {
    to {
        opacity: 1;
    }
}

@keyframes fade2 {
    to {
        opacity: 1;
    }
}

@keyframes fade3 {
    to {
        opacity: 1;
    }
}

@keyframes fade4 {
    to {
        opacity: 1;
    }
}

.photos {
    /*padding-left: 20px;*/
}


/*Photo Hover*/

/*.photos img {*/
/*    position: relative;*/
/*}*/

/*.photos img:nth-of-type(1) {*/
/*    left: 50px;*/
/*    top: 150px;*/
/*    transform: rotate(0deg);*/
/*}*/

/*.photos img:nth-of-type(2) {*/
/*    left: 90px;*/
/*    top: 100px;*/
    /*transform: rotate(-10deg);*/
/*}*/

/*.photos img:nth-of-type(3) {*/
/*    left: 350px;*/
/*    top: 50px;*/
/*}*/

/*.photos img:nth-of-type(4) {*/
/*    left: 250px;*/
/*    top: 80px;*/
/*}*/

/*.photos img:nth-of-type(5) {*/
/*    left: 50px;*/
/*    top: 50px;*/
    /*transform: rotate(7deg);*/
/*}*/

/*.photos img:hover {*/
/*    transform: scale(1.5);*/
/*    z-index: 10;*/
/*}*/

/*.photos img:hover {*/
/*    transform: rotate(0deg) scale(1.5);*/
/*    z-index: 10;*/
/*}*/

/*.photos img {*/
/*    transition: all 0.5s ease-out;*/
/*}*/

/*.photos img {*/
/*    transition: all 0.5s ease-out;*/
/*    padding: 10px 10px 30px 10px;*/
/*    background: black;*/
/*    border: solid 1px black;*/
/*}*/

@media only screen and (max-width: 1200px) {
    marquee {
        width: 1200px;
    }
    #photos {}
}

@media only screen and (max-width: 992px) {
    #myNavbar {
        text-align: center;
    }
    marquee {
        width: 992px;
    }
}

@media only screen and (max-width: 768px) {
    #myNavbar {
        text-align: center;
    }
    marquee {
        width: 768px;
    }
}
